# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
.next/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Uploads
api/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

docker-compose.override.yaml
